---
layout: base.html
title: About us
description: AI and data driven solutions by engineers, for engineers.
---

<section id="page-heading" class="section wf-section">
  <div class="section hero _2 wf-section">
    <div class="large-container w-container">
      <div data-w-id="4d41d7a1-1468-f0ed-8bdb-0124fd498d5b" class="hero-content-div-block">
        <div class="_40-pad-div-block">
          <h1 class="heading-1">AI and data driven solutions by engineers, for engineers</h1>
        </div>
      </div>
    </div>
    <div class="hero-image-relative">
      <div class="lower-hero-image"></div>
    </div>
  </div>
</section>
<div class="section blue _80vh wf-section">
  <div class="container w-container">
    <div data-w-id="a7926fdc-3e21-713d-58f6-abd55b1fb4cb" class="w-layout-grid _2-collum-grid" data-sal="slide-up"
      data-sal-delay="100" data-sal-duration="600">
      <h2 class="heading-2 white">Our mission</h2>
      <h2 class="heading-5 white">To improve the performance of complex industrial processes through artificial
        intelligence, data science, engineering expertise and design thinking.</h2>
    </div>
  </div>
</div>
<div class="section blue wf-section">
  <div class="container no-side-padding w-container">
    <div class="_40-pad-div-block _20-side-padding">
      <h2 class="heading-2 white">What makes us different?</h2>
    </div>
    <div data-duration-in="300" data-duration-out="100" data-current="Tab 2" data-easing="ease"
      class="tabs-2 hide w-tabs">
      <div class="tabs-menu-2 w-tab-menu">
        <a data-w-tab="Tab 1" class="tab-link w-inline-block w-tab-link" data-sal="fade" data-sal-duration="600"
          data-sal-delay="100">
          <h3 class="heading-6 white">We focus on multivariate, <br>complex operational problems</h3>
        </a>
        <a data-w-tab="Tab 2" class="tab-link w-inline-block w-tab-link w--current" data-sal="fade"
          data-sal-duration="600" data-sal-delay="100">
          <h3 class="heading-6 white">Big impact results</h3>
        </a>
        <a data-w-tab="Tab 3" class="tab-link w-inline-block w-tab-link" data-sal="fade" data-sal-duration="600"
          data-sal-delay="100">
          <h3 class="heading-6 white">Rapid benefit delivery focused on the user</h3>
        </a>
        <a data-w-tab="Tab 4" class="tab-link w-inline-block w-tab-link" data-sal="fade" data-sal-duration="600"
          data-sal-delay="100">
          <h3 class="heading-6 white">Challenge traditional approaches</h3>
        </a>
      </div>
      <div class="tabs-content w-tab-content">
        <div data-w-tab="Tab 1" class="tab-pane w-tab-pane">
          <p class="paragraph white">We like to work on problems that are multi-faceted and have complicated
            interactions between people, technology and plant operations. This is where we believe the power of AI can
            be realised to its fullest potential. We have hands-on experience of plant operations across multiple
            industries and understand the day-to-day limitations and hurdles that operators face. Our solutions are
            developed by engineers, for engineers.</p>
        </div>
        <div data-w-tab="Tab 2" class="tab-pane w-tab-pane w--tab-active">
          <p class="paragraph white">We like to work on problems that are multi-faceted and have complicated
            interactions between people, technology and plant operations.  This is where we believe the power of AI can
            be realised to its fullest potential. We have hands-on experience of plant operations across multiple
            industries and understand the day-to-day limitations and hurdles that operators face. Our solutions are
            developed by engineers, for engineers.</p>
        </div>
        <div data-w-tab="Tab 3" class="tab-pane w-tab-pane">
          <p class="paragraph white">We like to work on problems that are multi-faceted and have complicated
            interactions between people, technology and plant operations.  This is where we believe the power of AI can
            be realised to its fullest potential. We have hands-on experience of plant operations across multiple
            industries and understand the day-to-day limitations and hurdles that operators face. Our solutions are
            developed by engineers, for engineers.</p>
        </div>
        <div data-w-tab="Tab 4" class="tab-pane w-tab-pane">
          <p class="paragraph white">We like to work on problems that are multi-faceted and have complicated
            interactions between people, technology and plant operations.  This is where we believe the power of AI can
            be realised to its fullest potential. We have hands-on experience of plant operations across multiple
            industries and understand the day-to-day limitations and hurdles that operators face. Our solutions are
            developed by engineers, for engineers.</p>
        </div>
      </div>
    </div>
    <div class="w-layout-grid what-makes-us-different-grid">
      <div id="w-node-_93791664-fd6b-cb91-3fd5-43fa5d4a9421-bbecf24c" data-w-id="93791664-fd6b-cb91-3fd5-43fa5d4a9421"
        class="progress-div-block">
        <div class="verticle-green-line absolute" data-sal="fade" data-sal-duration="600" data-sal-delay="100"></div>
      </div>
      <div data-w-id="80ac87fd-029e-f956-fd6d-64198b602533" class="_60-pad-div-block" data-sal="fade"
        data-sal-duration="300">
        <div class="_20-pad-div-block">
          <h3 class="heading-3 white">We focus on multivariate, <br>complex operational problems</h3>
        </div>
        <div class="div-block-94">
          <p class="paragraph white">We like to work on problems that are multi-faceted and have complicated
            interactions between people, technology and plant operations. This is where we believe the power of AI can
            be realised to its fullest potential. We have hands-on experience of plant operations across multiple
            industries and understand the day-to-day limitations and hurdles that operators face. Our solutions are
            developed by engineers, for engineers.</p>
        </div>
      </div>
      <div data-w-id="0767f0ec-2b3a-dd2c-df44-1e0eee23f5cc" class="_60-pad-div-block" data-sal="fade"
        data-sal-duration="300">
        <div class="_20-pad-div-block">
          <h2 class="heading-3 white">Big impact results</h2>
        </div>
        <div>
          <p class="paragraph white">We deliver a step change in performance which is sustainable and manageable
            in-house once we leave.<br></p>
        </div>
      </div>
      <div data-w-id="cd904775-b27b-c22c-d129-f9685d9085dc" class="_60-pad-div-block" data-sal="fade"
        data-sal-duration="300">
        <div class="_20-pad-div-block">
          <h2 class="heading-3 white">Rapid benefit delivery focused on the user</h2>
        </div>
        <div>
          <p class="paragraph white">We solve problems through machine learning and advanced data science. This means we
            can develop solutions quickly and efficiently, with full scalability across multiple applications or sites.
            In turn, this helps to realise the operational benefits much faster. We develop our solutions with the
            end-user at heart. Design thinking is central to our methodology and ensures longevity of every project.<br>
          </p>
        </div>
      </div>
      <div data-w-id="db59cd6f-30c9-7e29-5b8d-914e610dc553" class="_40-pad-div-block" data-sal="fade"
        data-sal-duration="300">
        <div class="_20-pad-div-block">
          <h2 class="heading-3 white">Challenge traditional approaches</h2>
        </div>
        <div>
          <p class="paragraph white">We recognise that AI and machine learning are not the answer to all industrial
            problems. However, these technologies can complement traditional approaches, delivering better results in
            shorter timescales. <br></p>
        </div>
      </div>
    </div>
    <div class="w-layout-grid what-makes-us-different-grid mobile">
      <div id="w-node-_3f9f624a-470b-f6b1-5cb5-323344d4a696-bbecf24c" data-w-id="3f9f624a-470b-f6b1-5cb5-323344d4a696"
        class="progress-div-block">
        <div class="verticle-green-line absolute" data-sal="fade" data-sal-duration="600" data-sal-delay="100"></div>
      </div>
      <div data-w-id="3f9f624a-470b-f6b1-5cb5-323344d4a698" class="_60-pad-div-block" data-sal="fade"
        data-sal-duration="300">
        <div class="_20-pad-div-block">
          <h3 class="heading-3 white">We focus on multivariate, <br>complex operational problems</h3>
        </div>
        <div class="div-block-94">
          <p class="paragraph white">We like to work on problems that are multi-faceted and have complicated
            interactions between people, technology and plant operations. This is where we believe the power of AI can
            be realised to its fullest potential. We have hands-on experience of plant operations across multiple
            industries and understand the day-to-day limitations and hurdles that operators face. Our solutions are
            developed by engineers, for engineers.</p>
        </div>
      </div>
      <div data-w-id="3f9f624a-470b-f6b1-5cb5-323344d4a6a1" class="_60-pad-div-block" data-sal="fade"
        data-sal-duration="300">
        <div class="_20-pad-div-block">
          <h2 class="heading-3 white">Big impact results</h2>
        </div>
        <div>
          <p class="paragraph white">We deliver a step change in performance which is sustainable and manageable
            in-house once we leave.<br></p>
        </div>
      </div>
      <div data-w-id="3f9f624a-470b-f6b1-5cb5-323344d4a6a9" class="_60-pad-div-block" data-sal="fade"
        data-sal-duration="300">
        <div class="_20-pad-div-block">
          <h2 class="heading-3 white">Rapid benefit delivery focused on the user</h2>
        </div>
        <div>
          <p class="paragraph white">We solve problems through machine learning and advanced data science. This means we
            can develop solutions quickly and efficiently, with full scalability across multiple applications or sites.
            In turn, this helps to realise the operational benefits much faster. We develop our solutions with the
            end-user at heart. Design thinking is central to our methodology and ensures longevity of every project.<br>
          </p>
        </div>
      </div>
      <div data-w-id="3f9f624a-470b-f6b1-5cb5-323344d4a6b1" class="_40-pad-div-block" data-sal="fade"
        data-sal-duration="300">
        <div class="_20-pad-div-block">
          <h2 class="heading-3 white">Challenge traditional approaches</h2>
        </div>
        <div>
          <p class="paragraph white">We recognise that AI and machine learning are not the answer to all industrial
            problems. However, these technologies can complement traditional approaches, delivering better results in
            shorter timescales. <br></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section extra-bottom-padding wf-section">
  <div class="large-container w-container">
    <div data-w-id="5094d32b-4194-3c6b-03a3-761497f373da" class="meat-the-team-text-div">
      <div class="_20-pad-div-block">
        <h2 class="heading-2" data-sal="slide-up" data-sal-duration="600">More than the technology</h2>
      </div>
      <p class="paragraph-2" data-sal="slide-up" data-sal-duration="600" data-sal-delay="200">Our team comprises
        engineers, natural scientists, data scientists and designers. Our people have worked on some of the most
        challenging projects across the renewable energy, civil nuclear and manufacturing sectors.</p>
    </div>
    <div class="w-layout-grid team-grid">
      {% assign people = allPeople %}
      {% for person in people %}
      {% capture imgUrl %}
      {% sanityImageUrl person.photo %}
      {% endcapture %}
      <div class="w-layout-grid team-grid-content">
        <div>{% image imgUrl, '' %}</div>
        <div>
          <div class="_10-pad-div-block">
            <h3 class="heading-5">{{ person.name }}</h3>
          </div>
          <div class="text-block-5">{{ person.position}}</div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<div class="section-3 wf-section">
  <div class="hero-image-relative _3">
    <div class="lower-hero-image _3"></div>
  </div>
</div>
<div class="section blue wf-section">
  <div class="large-container w-container">
    <div class="w-layout-grid values-grid">
      <div id="w-node-f160a8d2-6207-2969-1004-9fc9f8303426-bbecf24c" class="div-block-120">
        <h2 class="heading-2 white">Our values</h2>
      </div>
      <div data-w-id="1ebecc4d-ee3c-74fe-8113-75e435c322ca" class="values-div-block">
        <div class="_20-pad-div-block">
          <h3 class="heading-4 white" data-sal="slide-up" data-sal-duration="600" data-sal-delay="100">People are the
            business</h3>
        </div>
        <p class="paragraph white" data-sal="slide-up" data-sal-duration="600" data-sal-delay="200">Our people are the
          most important part of the business. We must promote equality and diversity through collaboration and
          teamwork.</p>
      </div>
      <div data-w-id="6d9a5ec3-70f6-875b-c6cb-f783af622275" class="values-div-block">
        <div class="_20-pad-div-block">
          <h3 class="heading-4 white" data-sal="slide-up" data-sal-duration="600" data-sal-delay="100">Strive for better
          </h3>
        </div>
        <p class="paragraph white" data-sal="slide-up" data-sal-duration="600" data-sal-delay="200">Our work should result in an improvement for the planet or other people.</p>
      </div>
      <div data-w-id="3229aba5-5d5a-d5bc-4a52-6b483ee17194" class="values-div-block">
        <div class="_20-pad-div-block">
          <h3 class="heading-4 white" data-sal="slide-up" data-sal-duration="600" data-sal-delay="100">There’s always a
            way, but not always</h3>
        </div>
        <p class="paragraph white" data-sal="slide-up" data-sal-duration="600" data-sal-delay="200">Innovate, create, test, improve - be brave but humble.</p>
      </div>
      <div data-w-id="acc316fa-c8bf-c747-e5a5-892afe23e2b4" class="values-div-block">
        <div class="_20-pad-div-block">
          <h3 class="heading-4 white" data-sal="slide-up" data-sal-duration="600" data-sal-delay="100">Sustain the good
            guys</h3>
        </div>
        <p class="paragraph white" data-sal="slide-up" data-sal-duration="600" data-sal-delay="200">Relationships are more important than our bottom-line.</p>
      </div>
      <div data-w-id="149510ad-eea1-5570-e221-03901ee637fa" class="values-div-block">
        <div class="_20-pad-div-block">
          <h3 class="heading-4 white" data-sal="slide-up" data-sal-duration="600" data-sal-delay="100">Help others do
            their best</h3>
        </div>
        <p class="paragraph white" data-sal="slide-up" data-sal-duration="600" data-sal-delay="200">Promote a creative approach to problem-solving through fostering an open-minded,
          energetic and inquisitive attitude.</p>
      </div>
    </div>
  </div>
</div>
<div class="section wf-section">
  <div class="container w-container">
    <div data-w-id="a8d343cc-8298-4110-e9d4-81f910056832" class="_80-pad-div-block">
      <div data-w-id="7d32fa8e-ae03-8e17-5c87-42285b8eb68f" class="_40-pad-div-block">
        <h2 class="heading-2" data-sal="slide-up">Our History</h2>
      </div>
      <div data-w-id="ef1cfe73-047c-2b7b-bce2-f72f819ad2b3" class="div-block-46">
        <h3 class="heading-3" data-sal-duration="600" data-sal-delay="200">Ada Mode’s founders wanted to set up a
          company that would challenge the archetype.</h3>
      </div>
    </div>
  </div>
  <div data-w-id="564d8fb9-3b53-8288-3b1d-9b26d78d71c8" class="w-layout-grid grid-61">
    <div class="image-div history"></div>
    <div id="w-node-bc93f597-924d-2e25-47d8-5f5e6bbcdd7a-bbecf24c" class="div-block-76">
      <div class="_40-pad-div-block">
        <h3 class="heading-5">A progressive, positive company driven curiosity and creativity. Fuelled by a desire to
          challenge the traditional, we want to grow a team who share our core values and aspire industry better.</h3>
      </div>
      <p class="paragraph">Driven by a need to disrupt traditional scientific and technical service providers, they
        created Ada Mode. Inspired by the 19th Century mathematician, coupled with a passion for AI, engineering and
        data science, their vision was to transform industrial problem-solving.<br><br>Ada Mode was formed by a team of
        mechanical engineers, chemists and data scientists who worked across the energy sector.</p>
    </div>
  </div>
</div>
<div class="testimonial-section blue hide wf-section">
  <div class="w-container">
    <div class="w-layout-grid testimonial-grid">
      <div class="_10-pad-div-block"><img src="/images/“.svg" loading="lazy" width="65" alt="Quotation mark icon">
      </div>
      <div>
        <h5 class="heading-5 white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
          laboris nisi ut aliquip ex ea commodo consequat</h5>
      </div>
      <div>
        <div class="text-block-3">- Name here</div>
      </div>
    </div>
  </div>
</div>
<div class="section wf-section">
  <div class="large-container w-container">
    <div class="_60-pad-div-block">
      <h3 class="heading-3">Recent blog posts</h3>
    </div>
    <div class="w-dyn-list">
      <ul role="list" class="collection-list w-dyn-items">
        {% for post in allPosts.data limit:3 %}
        {% if post.mainImage.asset %}
        {% capture imgUrl %}
        {% sanityImageUrl post.mainImage %}
        {% endcapture %}
        {% else %}
        {% capture imgUrl %}
        {% sanityImageUrl site.blogFallbackImage %}
        {% endcapture %}
        {% endif %}
        <li id="w-node-c49082f0-865f-00a1-a627-0e89ebad9e4b-e4fd2b7f" role="listitem"
          class="collection-item-6 w-dyn-item">
          <a href="/blog/{{post.slug.current}}" class="link-block w-inline-block">
            <div class="w-layout-grid recent-blog-grid">
              <div id="w-node-c49082f0-865f-00a1-a627-0e89ebad9e4e-e4fd2b7f" class="blog-post-image-div">{% image
                imgUrl, '' %}</div>
              <div class="blog-category-div">
                {% assign category = post.categories | first %}
                <div class="small-green-sub-heading">{{ category.title }}</div>
                <div class="div-block-6">
                  <div class="small-grey-sub-heading">|</div>
                </div>
                <div class="small-grey-sub-heading">{{ post.publishedAt | date: "%B %d, %Y" }}</div>
              </div>
              <div class="_20-pad-div-block">
                <h4 class="heading-4">{{ post.title }}</h4>
              </div>
            </div>
          </a>
          <div class="div-block-144">
            <a href="/blog/{{post.slug.current}}" class="green-outline-button w-button">Read more</a>
          </div>
        </li>
        {% else %}
        <div class="w-dyn-empty">
          <div>No items found.</div>
        </div>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>