---
layout: base.html
title: About us
description: AI and data driven solutions by engineers, for engineers.
---

<section id="page-heading" class="section hero hero--page">
  <div class="container {{ textAlign }}">  
    <div class="hero__title heading-1" data-sal="slide-up" data-sal-duration="600">
      <h1>{{ description }}</h1>
    </div>
  </div>
  <div class="offset-image" data-sal="slide-up" data-sal-duration="600">
    <div class="offset-image__img-wrapper">
      <img src="/images/nick-conor_1200.jpg" srcset="/images/nick-conor_1500.jpg 1500w, /images/nick-conor_1200.jpg 1200w, /images/nick-conor_900.jpg 900w, /images/nick-conor_600.jpg 600w" sizes="75vw" alt="Two members of the Ada Mode team in front of a large window">
    </div>
  </div>
</section>

<div class="section grey">
  <div class="container container--sm">
    <div class="w-layout-grid _2-collum-grid" data-sal="slide-up" data-sal-duration="600">
      <h2>Our mission</h2>
      <p>To improve the performance of complex industrial processes through artificial
        intelligence, data science, engineering expertise and design thinking.</p>
    </div>
  </div>
</div>

<div class="section blue">
  <div class="container">
    <h2 class="section__heading" data-sal="slide-up" data-sal-duration="600">What makes us different?</h2>
    <ul class="about__difference-list" data-duration-in="300" data-duration-out="100" data-easing="ease">
      <li class="about__difference-item" data-sal="slide-up" data-sal-duration="600">
        <h3>We focus on multivariate, <br>complex operational problems</h3>
        <p>We like to work on problems that are multi-faceted and have complicated
          interactions between people, technology and plant operations. This is where we believe the power of AI can
          be realised to its fullest potential. We have hands-on experience of plant operations across multiple
          industries and understand the day-to-day limitations and hurdles that operators face. Our solutions are
          developed by engineers, for engineers.</p>
      </li>
      <li class="about__difference-item" data-sal="slide-up" data-sal-duration="600">
        <h3>Big impact results</h3>
        <p>We deliver a step change in performance which is sustainable and manageable
          in-house once we leave.</p>
      </li>
      <li class="about__difference-item" data-sal="slide-up" data-sal-duration="600">
        <h3>Rapid benefit delivery focused on the user</h3>
        <p>We solve problems through machine learning and advanced data science. This means we
          can develop solutions quickly and efficiently, with full scalability across multiple applications or sites.
          In turn, this helps to realise the operational benefits much faster. We develop our solutions with the
          end-user at heart. Design thinking is central to our methodology and ensures longevity of every project.</p>
      </li>
      <li class="about__difference-item" data-sal="slide-up" data-sal-duration="600">
        <h3>Challenge traditional approaches</h3>
        <p>We recognise that AI and machine learning are not the answer to all industrial
          problems. However, these technologies can complement traditional approaches, delivering better results in
          shorter timescales.</p>
      </li>
    </ul>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="meat-the-team-text-div">
      <h2 class="section__heading" data-sal="slide-up" data-sal-duration="600">More than the technology</h2>
      <p data-sal="slide-up" data-sal-duration="600" data-sal-delay="200">Our team comprises
        engineers, natural scientists, data scientists and designers. Our people have worked on some of the most
        challenging projects across the renewable energy, civil nuclear and manufacturing sectors.</p>
    </div>
    <ul class="w-layout-grid team-grid">
      {% assign people = allPeople %}
      {% for person in people %}
      {% capture imgUrl %}
      {% sanityImageUrl person.photo %}
      {% endcapture %}
      {% assign delay = forloop.index | times: 50 %}
      <li class="w-layout-grid team-grid-content" data-sal="slide-up" data-sal-duration="600" data-sal-delay="{{ delay }}">
        <div>{% image imgUrl, '' %}</div>
        <div>
          <h3 class="heading-5">{{ person.name }}</h3>
          {% if person.position %}
            <p class="text-block-5">{{ person.position}}</p>
          {% endif  %}
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
<div class="section section--overlap">
  <div class="offset-image offset-image--left" data-sal="slide-up" data-sal-duration="600">
    <div class="offset-image__img-wrapper">
      <img src="/images/nick_1200.jpg" srcset="/images/nick_1600.jpg 1600w, /images/nick_1200.jpg 1200w, /images/nick_900.jpg 900w, /images/nick_600.jpg 600w" sizes="75vw" alt="A member of the Ada Mode team at a desk with laptop in view">
    </div>
  </div>
  <div class="container">
    <div class="w-layout-grid values-grid">
      <div id="w-node-f160a8d2-6207-2969-1004-9fc9f8303426-bbecf24c" class="div-block-120">
        <h2 class="heading-2 white">Our values</h2>
      </div>
      <div data-w-id="1ebecc4d-ee3c-74fe-8113-75e435c322ca" class="values-div-block">
        <div class="_20-pad-div-block">
          <h3 class="heading-4 white" data-sal="slide-up" data-sal-duration="600" data-sal-delay="100">People are the
            business</h3>
        </div>
        <p class="paragraph white" data-sal="slide-up" data-sal-duration="600" data-sal-delay="200">Our people are the
          most important part of the business. We must promote equality and diversity through collaboration and
          teamwork.</p>
      </div>
      <div data-w-id="6d9a5ec3-70f6-875b-c6cb-f783af622275" class="values-div-block">
        <div class="_20-pad-div-block">
          <h3 class="heading-4 white" data-sal="slide-up" data-sal-duration="600" data-sal-delay="100">Strive for better
          </h3>
        </div>
        <p class="paragraph white" data-sal="slide-up" data-sal-duration="600" data-sal-delay="200">Our work should result in an improvement for the planet or other people.</p>
      </div>
      <div data-w-id="3229aba5-5d5a-d5bc-4a52-6b483ee17194" class="values-div-block">
        <div class="_20-pad-div-block">
          <h3 class="heading-4 white" data-sal="slide-up" data-sal-duration="600" data-sal-delay="100">There’s always a
            way, but not always</h3>
        </div>
        <p class="paragraph white" data-sal="slide-up" data-sal-duration="600" data-sal-delay="200">Innovate, create, test, improve - be brave but humble.</p>
      </div>
      <div data-w-id="acc316fa-c8bf-c747-e5a5-892afe23e2b4" class="values-div-block">
        <div class="_20-pad-div-block">
          <h3 class="heading-4 white" data-sal="slide-up" data-sal-duration="600" data-sal-delay="100">Sustain the good
            guys</h3>
        </div>
        <p class="paragraph white" data-sal="slide-up" data-sal-duration="600" data-sal-delay="200">Relationships are more important than our bottom-line.</p>
      </div>
      <div data-w-id="149510ad-eea1-5570-e221-03901ee637fa" class="values-div-block">
        <div class="_20-pad-div-block">
          <h3 class="heading-4 white" data-sal="slide-up" data-sal-duration="600" data-sal-delay="100">Help others do
            their best</h3>
        </div>
        <p class="paragraph white" data-sal="slide-up" data-sal-duration="600" data-sal-delay="200">Promote a creative approach to problem-solving through fostering an open-minded,
          energetic and inquisitive attitude.</p>
      </div>
    </div>
  </div>
</div>
<div class="section grey">
  <div class="container">
    <h2 class="section__heading" data-sal="slide-up" data-sal-duration="600">Our History</h2>
    <p class="section__subheading" data-sal-duration="600" data-sal-delay="200">Ada Mode’s founders wanted to set up a
      company that would challenge the archetype.</p>
  </div>
  <div class="history__grid">
    <div class="history__image" data-sal="slide-up" data-sal-duration="600">
      <img src="/images/conor-michelle_1200.jpg" srcset="/images/conor-michelle_1200.jpg 1200w, /images/conor-michelle_900.jpg 900w, /images/conor-michelle_600.jpg 600w" sizes="75vw" alt="A male and female memeber of the Ada Mode team smiling at something on a computer">
    </div>
    <div class="history__content" data-sal="slide-up" data-sal-duration="600" data-sal-delay="200">
      <p>A progressive, positive company driven curiosity and creativity. Fuelled by a desire to
          challenge the traditional, we want to grow a team who share our core values and aspire industry better.</p>
      <p>Driven by a need to disrupt traditional scientific and technical service providers, they
        created Ada Mode. Inspired by the 19th Century mathematician, coupled with a passion for AI, engineering and
        data science, their vision was to transform industrial problem-solving.</p><p>Ada Mode was formed by a team of
        mechanical engineers, chemists and data scientists who worked across the energy sector.</p>
    </div>
  </div>
</div>

{% include 'components/blog-posts.liquid' %}