---
layout: base.html
title: Ada Mode Blog
description: Read our latest views on industry, technology and everything else here.
---

<section id="page-heading" class="section hero hero--page">
  <div class="container">  
    <div class="hero__title heading-1">
      <h1>Expert insights into AI, ML and Digital Twin technology for industry</h1>
    </div>
    <p class="subheading hero__subheading">Subscribe to our mailing list for regular updates on AI, ML and digital twin technology here</p>
  </div>
</section>
 
  <div class="section no-top-padding">
    <div class="container container--lg">
      <nav class="category-nav" aria-label="Post categories">
        <p>Filter:</p>
        <ul class="category-nav__list">
          <li><button data-active data-btn>All posts</button></li>

          {% for category in allPosts.categories %}
            <li><button data-btn>{{ category }}</button></li>
          {% endfor %}
        </ul>
      </nav>
      <div data-wrapper>
        <ul role="list" class="collection__list">
          {% for post in allPosts.data %}
            {%- capture categories -%}
              {%- for cat in post.categories -%}
                  {{cat.title}},
              {%- endfor -%}
            {%- endcapture -%}

            <li
              class="collection__item" data-item data-category="{{ categories }}">
              <div class="collection__img-wrapper">
                {% if post.mainImage.asset %}
                  {% capture imgUrl %}
                      {% sanityImageUrl post.mainImage %}
                  {% endcapture %}
                  {% image imgUrl, post.mainImage.altText %}
                  {% else %}
                  {% capture imgUrl %}
                      {% sanityImageUrl site.blogFallbackImage %}
                  {% endcapture %}
                  {% image imgUrl, '' %}
                {% endif %}
              </div>
              <div class="collection__item-content">
                <p class="pretitle collection__pretitle">
                  {% assign category = post.categories | first %}
                  <span>{{ category.title }}</span>
                  <span> | {{ post.publishedAt | date: "%B %d, %Y" }}</span>
                </p>
                <h4 class="collection__post-heading">
                  <a href="/blog/{{post.slug.current}}" class="collection__link">{{ post.title }}</a>
                </h4>
                <a href="/blog/{{post.slug.current}}" aria-hidden class="collection__item-button am-button am-button--sm am-button--green-outline">Read more</a>
              </div>
            </li>
          {% endfor %}
        <ul>
      </div>
    </div>

    <div class="subscribe-div-mobile">
      <div class="subscribe-to-newsletter-form mobile w-form">
        <div class="_20-pad-div-block">
          <h4>Subscribe to our newsletter</h4>
        </div>
        <form id="email-form" name="email-form" data-name="Email Form" method="get"><input type="email" class="text-field-2 w-input" maxlength="256" name="email-2" data-name="Email 2" placeholder="" id="email-2" required=""><input type="submit" value="Submit" data-wait="Please wait..." class="green-button w-button"></form>
        <div class="w-form-done">
          <div>Thank you! Your submission has been received!</div>
        </div>
        <div class="w-form-fail">
          <div>Oops! Something went wrong while submitting the form.</div>
        </div>
      </div>
    </div>
  </div>
  
  <script type="module">
    const categoryNav = document.querySelector('.category-nav');
    const categoryButtons = categoryNav.querySelectorAll('[data-btn]');
    const posts = document.querySelectorAll('[data-item]');
    const section = document.querySelector('[data-wrapper]');
    const categoryTags = document.querySelectorAll('[data-category-filter]');

    categoryButtons.forEach(button => {
        button.addEventListener('click', () => {
          console.log(button)
            categoryButtons.forEach(button => button.removeAttribute('data-active'));
            button.setAttribute('data-active', '');
            const category = button.textContent;
            posts.forEach(post => {
                if (category === 'All posts') {
                    post.removeAttribute('data-hidden');
                } else if (post.dataset.category.includes(category)) {
                    post.removeAttribute('data-hidden');
                } else {
                    post.setAttribute('data-hidden', '');
                }
            });
        });
    });

    categoryTags.forEach(tag => {
        tag.addEventListener('click', () => {
            categoryButtons.forEach(button => button.removeAttribute('data-active'));
            const category = tag.textContent;
            posts.forEach(post => {
                if (category === 'All posts') {
                    post.removeAttribute('data-hidden');
                } else if (post.dataset.category.includes(category)) {
                    post.removeAttribute('data-hidden');
                } else {
                    post.setAttribute('data-hidden', '');
                }
            });
            // set data-active on the corresponding category button
            categoryButtons.forEach(button => {
                if (button.textContent === category) {
                    button.setAttribute('data-active', '');
                }
            });
        });
    });
    
</script>