---
layout: base.html
title: Case studies
description: We help industrial facilities with AI adoption, digital twin strategy and provide analytical support for complex operational problems.
---

<section id="page-heading" class="section hero hero--page">
  <div class="container">  
    <div class="hero__title heading-1">
      <h1>{{ title }}</h1>
    </div>
    <p class="subheading hero__subheading">{{ description }}</p>
  </div>
</section>

<div class="section case-studies__section">
  <div class="container container--lg">
    <ul role="list" class="collection__list">
      {% for case in allCaseStudies %}
        {% capture imgUrl %}{% sanityImageUrl case.mainImage %}{% endcapture %}
        <li
          class="collection__item collection__item--dark">
          <div class="collection__img-wrapper">{% image imgUrl , '' %}</div>
          <div class="collection__item-content">
            <p class="pretitle collection__pretitle">
              {% assign category = case.categories | first %}
              <span>{{ category.title }}</span>
            </p>
            <h4 class="collection__post-heading">
              <a href="/case-studies/{{ case.slug.current }}" class="collection__link">{{ case.title }}</a>
            </h4>
            <a href="/case-studies/{{ case.slug.current }}" aria-hidden class="collection__item-button am-button am-button--sm am-button--green-outline">Read more</a>
          </div>
        </li>
      {% endfor %}
    <ul>
  </div>
</div>
