---
layout: base.html
# This is the careers page template
pagination:
    data: allJobs
    alias: job
    size: 1
permalink: 
    build: /careers/{{ job.slug.current | slug }}/index.html
    preview: /job/preview/:id
eleventyComputed:
    title: '{{ job.title }}'
    description: '{{ job.description }}'
---
  

  <div class="section hero wf-section">
    <div class="large-container w-container">
      <div class="div-block-80">
        <div class="_100-pad-div-block">
          <h1 class="heading-1">{{ job.title }}</h1>
        </div>
      </div>
    </div>
    <div class="container w-container">
      {% unless job.positionAbout == 'bottom' %}
        <aside class="flow">
            <div class="_20-pad-div-block">
              <h2 class="heading-3 green">{{ site.aboutText.title | default: 'About Windscope' }}</h2>
            </div>
            <div class="_60-pad-div-block">
              <div class="paragraph">{% portableText site.aboutText.text %}</div>
            </div>
        </aside>
    {% endunless %}
      
        <div class="_40-pad-div-block">
          <div class="paragraph w-richtext">
            {% portableText job.body.content %}
          </div>
        </div>
      <div>
        <div class="_40-pad-div-block">
          <div class="paragraph">To apply for this role, click on the button below and provide your CV and cover letter. </div>
        </div>
        <div class="w-layout-grid grid-55">
          <a id="w-node-f90988ed-b5bf-a0fe-5e42-063100192a5b-aed3be59" href="mailto:careers@ada-mode.com?subject=Careers%20at%20Ada%20Mode - {{ job.title }}" class="green-button w-button">Apply for this role</a>
        </div>
        <div class="_40-pad-div-block">
        <div>
          <div class="paragraph">Alternatively, for more information, please email <a href="mailto:careers@ada-mode.com?subject=Careers%20information" class="link">careers@ada-mode.com</a>
          </div>
        </div>
      </div>
      </div>
      {% if job.positionAbout == 'bottom' %}

        <aside class="flow">
        <div class="_20-pad-div-block">
          <h2 class="heading-3 green">{{ site.aboutText.title | default: 'About Windscope' }}</h2>
        </div>
        <div class="_60-pad-div-block">
          <div class="paragraph">{% portableText site.aboutText.text %}</div>
        </div>
            </aside>
    {% endif %}
  </div>
  </div>