---
layout: base.html
# This is the case study page template
pagination:
    data: allCaseStudies
    alias: case
    size: 1
permalink: 
    build: /case-studies/{{ case.slug.current | slug }}/index.html
    preview: /caseStudy/preview/:id
eleventyComputed:
    pageTitle: '{{ case.title }}'
    pageDescription: '{{ case.description }}'
---

{% assign id = eleventy.serverless.path.id %}

{% if eleventy.serverless.path %}
{% for page in preview.caseStudy %}
    {% if page._id == id %}
        {% assign case = page %}
        {% break %}
    {% endif %}
{% endfor %}
{% endif %}

<section id="page-heading" class="section hero hero--page hero--case-study blue">
  <div class="container">  
    <div class="hero__title"  data-sal="slide-up" data-sal-duration="600">
      <p class="preheading hero__preheading">
        {% assign category = case.categories | first %}
        <span>{{ category.title }}</span>
        <span>| Case Study</span>
      </p>
      <h1>{{ case.title }}</h1>
    </div>
  </div>
  <div class="hero__split">
    <div class="hero__split__content" data-sal="slide-up" data-sal-duration="600" data-sal-delay="100">
      <h2 class="heading-3 hero__byline">{{ case.byline }}</h2>
      <p>{{ case.intro }}</p>
    </div>
    <div class="hero__img-wrapper" data-sal="slide-up" data-sal-duration="600" data-sal-delay="200">
      {% if case.mainImage.asset %}
        {% capture imgUrl %}
            {% sanityImageUrl case.mainImage %}
        {% endcapture %}
        {% image imgUrl, case.mainImage.altText, 'eager' %}
      {% else %}
        {% capture imgUrl %}
          {% sanityImageUrl site.blogFallbackImage %}
        {% endcapture %}
        {% image imgUrl, '', 'eager' %}
      {% endif %}
    </div>
  </div>
</section>

<div class="section">
  <div class="container container--sm">
    <div class="case-study-grid">
      <div class="w-richtext flow">
        {% portableText case.body.content %}
      </div>
      {% if case.slides.url %}
      <div class="case-study-resources-div">
        <div class="_20-pad-div-block">
          <h4 class="heading-4">Slides</h4>
        </div>
        <a href="{{ case.slides.url }}" class="download-resource-link-block w-inline-block">
          <div class="text-block-11">{{ case.slides.title }}</div><img src="/images/green-download-arrow.png" loading="lazy" width="10" alt="green arrow pointing down" class="download-arrow-image">
        </a>
      </div>
      {% endif %}
    </div>
  </div>
</div>
  <div class="section blue">
    {%- assign relatedCaseStudies = allCaseStudies | getRelatedCaseStudies: case -%}
    <div class="container">
      <h2 class="heading-3 section__heading">Other case studies</h2>
      {% include 'partials/caseStudiesBlock.liquid' %}
    </div>
  </div>