---
layout: base.html
---

{% assign id = eleventy.serverless.path.id %}

{% if eleventy.serverless.path %}
  {% for hp in preview.homepage %}
    {% if hp._id == id %}
      {% assign homeContent = hp %}
      {% break %}
    {% endif %}
  {% endfor %}
{% else %}
  {% assign homeContent = homepage %}
{% endif %}

<section class="home-page-hero-section">

  <div class="hero__svg-container">
    {% include 'components/hero-svg.liquid' %}
  </div>

  <div class="container">
    <div class="homepage-hero__content">
      <h1 class="heading-1 home-page-hero-section__heading" data-sal="slide-up" data-sal-duration="300">Industrial AI, data and automation</h1>
      <p class="subheading home-page-hero-section__subheading" data-sal="slide-up" data-sal-duration="300" data-sal-delay="100">We help operators, OEMs and government bodies with AI adoption to drive industrial decarbonisation.</p>
      <div class="homepage-hero__button-wrapper" data-sal="slide-up" data-sal-duration="300" data-sal-delay="200">
        <a href="platform.html" class="am-button am-button--on-dark">Learn more</a>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <h2 class="heading-2 services__heading">What we do</h2>
    <div class="services__grid">
      <div class="services__grid-col" data-sal="slide-up" data-sal-duration="600">
        <h3 class="heading-4">Consultancy</h3>
        <ul class="services__list">
          <li>AI Adoption</li>
          <li>Industrial Data Engineering</li>
          <li>Simulation, Modelling and System Design</li>
          <li>Responsible AI</li>
          <li>Autonomous Systems</li>
        </ul>
        <a href="/services" class="am-button services__button">Explore our services</a>
      </div>
      <div class="services__grid-col" data-sal="slide-up" data-sal-duration="600" data-sal-delay="100">
        <h3 class="heading-4">Application development</h3>
        <ul class="services__list">
          <li>Autonomous Systems</li>
          <li>Energy Optimisation</li>
          <li>Predictive Maintenance</li>
          <li>Large Language Models</li>
        </ul>
        <a href="/services" class="am-button services__button">Find out more</a>
      </div>
    </div>
  </div>
</section>

{% if homeContent.partners.showAll %}
  {% assign partners = allPartners %}
{% else %}
  {% assign partners = homeContent.partnerArray %}
{% endif %}

<section class="section no-top-padding" data-sal="slide-up" data-sal-duration="600">
  <div class="container">
    <h2 class="heading-2">{{ homeContent.partners.title }}</h2>
    <div class="w-layout-grid client-logo-grid">
      {% if partners.size > 0 %}
        {% for partner in partners %}
          {% capture imgUrl %}{% sanityImageUrl partner.logo %}{% endcapture %}
          <div>
            <img
              src="{{ imgUrl  }}"
              loading="lazy"
              alt="{{ partner.name }}"
              width="400"
              height="300"
              class="client-logo" />
            </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
</section>

<section class="section blue no-padding">
  {% assign featureCaseStudies = homeContent.featuredCaseStudies %}
  {% for case in featureCaseStudies %}
    {% capture imgUrl %}{% sanityImageUrl case.mainImage %}{% endcapture %}
    <div class="case-studies__grid">
      <div class="case-studies__img-wrapper">
        {% image imgUrl, '' %}
      </div>
      <div class="case-studies__content" data-sal="slide-up" data-sal-duration="600">
        <h2 class="case-studies__heading">
          <span class="preheading">Case study</span>
          <span class="heading-2">{{ case.title }}</span>
        </h2>
        <a href="/case-studies/{{case.slug.current}}" class="am-button am-button--sm am-button--green-outline">
          <span>View case study →</span>
        </a>
      </div>
    </div>
  {% endfor %}
</section>

{% assign quote = homeContent.quote | first %}
{% include 'components/quote.liquid' %}

<section class="section blue">
  <div class="container">
    <div class="sectors__grid">
      <div data-sal="slide-up" data-sal-duration="600">
        <h2 class="heading-2">Sectors we work in</h2>
        <a
          href="industries.html"
          class="sectors__button sectors__button--top am-button am-button--green-outline">
          <span>Learn more  →</span>
        </a>
      </div>
      <div>
        <ul class="sectors__list">
          <li class="sectors__item" data-sal="slide-up" data-sal-duration="600">
            <img
              src="/images/icon-nuclear.svg"
              loading="lazy"
              width="45"
              height="45"
              alt=""
              class="sector-icon">
            <p class="heading-4">Civil Nuclear</p>
          </li>
          <li class="sectors__item" data-sal="slide-up" data-sal-duration="600">
            <img
              src="/images/icon-wind.svg"
              loading="lazy"
              width="45"
              height="45"
              alt=""
              class="sector-icon">
            <p class="heading-4">Renewables</p>
          </li>
          <li class="sectors__item" data-sal="slide-up" data-sal-duration="600">
            <img
              src="/images/icon-manufacturing.svg"
              loading="lazy"
              width="45"
              height="45"
              alt=""
              class="sector-icon">
            <p class="heading-4">Manufacturing</p>
          </li>
          <li class="sectors__item" data-sal="slide-up" data-sal-duration="600">
            <img
              src="/images/icon-buildings.svg"
              loading="lazy"
              width="45"
              height="45"
              alt=""
              class="sector-icon">
            <p class="heading-4">Utilities</p>
          </li>
          <li class="sectors__item" data-sal="slide-up" data-sal-duration="600">
            <img
              src="/images/icon-water.svg"
              loading="lazy"
              width="45"
              height="45"
              alt=""
              class="sector-icon">
            <p class="heading-4">Marine</p>
          </li>
        </ul>
      </div>
    </div>
    <a
      href="industries.html"
      class="sectors__button sectors__button--bottom am-button am-button--green-outline">
      <span>Learn more  →</span>
    </a>
  </div>
</section>
<div class="section">
  <div class="container">
    <div class="humans__grid" data-sal="slide-up" data-sal-duration="600">
      <div class="humans__img-wrapper">
      <img
        src="/images/becca-and-joe_900.jpg"
        loading="lazy"
        srcset="/images/becca-and-joe_1200.jpg 1200w, /images/becca-and-joe_900.jpg 900w, /images/becca-and-joe_600.jpg 600w"
        sizes="(max-width: 479px) 86vw, (max-width: 767px) 100vw, (max-width: 991px) 68vw, 674.6484375px"
        alt="Woman and man sat at a table looking seriously at a laptop" >
      </div>
      <div>
        <h2 class="heading-2 humans__heading">Data science and digital transformation</h2>
        <p>Supporting operators with AI adoption, digital twin strategy and analytical support for complex operational problems</p>
        <a href="services.html" class="humans__button am-button">Find Out More</a>
      </div>
    </div>
  </div>
</div>
<section class="section grey">
  <div class="container container--sm">
    <div class="humans__grid" data-sal="slide-up" data-sal-duration="600">
      <h2 class="heading-3">Meet the humans behind the AI</h2>
      <div>
        <p>Our people have worked on some of the most challenging projects across the renewable energy, civil nuclear and manufacturing sectors.</p>
        <a href="/about-us/" class="humans__button am-button am-button--green-outline">
          <span>Learn more   →</span>
        </a>
      </div>
    </div>
  </div>
</section>

{% include 'components/blog-posts.liquid' %}
