---
layout: base.html
# This is the blog post page template
pagination:
    data: allPosts.data
    alias: post
    size: 1
permalink: 
    build: /blog/{{ post.slug.current | slug }}/index.html
    preview: /post/preview/:id
eleventyComputed:
    pageTitle: '{{ post.title }}'
    pageDescription: '{{ post.description | default: post.blurb }}'
---

  <div class="section reduced-bottom-padding wf-section">
    <div class="large-container w-container">
      <div class="div-block-108">
        <div class="_40-pad-div-block">
          {% assign category = post.categories | first %}
          <div class="blog-post-category-text">{{ category.title }}</div>
          <div class="small-grey-sub-heading padding">|</div>
          <div class="small-grey-sub-heading">{{ post.publishedAt | date: "%B %d, %Y" }}</div>
        </div>
        <div class="_40-pad-div-block">
          <h1 class="heading-1">{{ post.title }}</h1>
        </div>
      </div>
    </div>
    <div class="blog-post-feature-image">
      {% if post.mainImage.asset %}
                {% capture imgUrl %}
                    {% sanityImageUrl post.mainImage %}
                {% endcapture %}
                {% image imgUrl, post.mainImage.altText %}
                {% else %}
           {% capture imgUrl %}
                    {% sanityImageUrl site.blogFallbackImage %}
                {% endcapture %}
                {% image imgUrl, '' %}
              {% endif %}
    </div>
  </div>
  <div class="section wf-section">
    <div class="html-embed-2 w-embed">
      <div class="sharethis-sticky-share-buttons"></div>
    </div>
    <div class="small-container w-container">
      <div class="w-layout-grid grid-62">
        <div class="div-block-106"></div>
        <div class="div-block-107">
          <div class="_60-pad-div-block">
            <div class="paragraph-2 w-richtext flow">
              {% portableText post.body.content %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section wf-section">
    {%- assign relatedPosts = allPosts.data | getRelatedPosts: post -%}
    <div class="large-container w-container">
      <div class="_60-pad-div-block">
        <h3 class="heading-3">Related posts</h3>
      </div>
      <div class="w-dyn-list">
        <ul role="list" class="collection-list w-dyn-items">
          {% for post in relatedPosts limit:3 %}
          {% capture imgUrl %}{% sanityImageUrl post.mainImage %}{% endcapture %}
            <li id="w-node-c49082f0-865f-00a1-a627-0e89ebad9e4b-e4fd2b7f" role="listitem" class="collection-item-6 w-dyn-item">
              <a href="/blog/{{post.slug.current}}" class="link-block w-inline-block">
                <div class="w-layout-grid recent-blog-grid">
                  <div id="w-node-c49082f0-865f-00a1-a627-0e89ebad9e4e-e4fd2b7f" class="blog-post-image-div">{% image imgUrl, '' %}</div>
                  <div class="blog-category-div">
                    {% assign category = post.categories | first %}
                    <div class="small-green-sub-heading">{{ category.title }}</div>
                    <div class="div-block-6">
                      <div class="small-grey-sub-heading">|</div>
                    </div>
                    <div class="small-grey-sub-heading">{{ post.publishedAt | date: "%B %d, %Y" }}</div>
                  </div>
                  <div class="_20-pad-div-block">
                    <h4 class="heading-4">{{ post.title }}</h4>
                  </div>
                </div>
              </a>
              <div class="div-block-144">
                <a href="/blog/{{post.slug.current}}" class="green-button w-button">Read more</a>
              </div>
            </li>
          {% else %}
            <div class="w-dyn-empty">
              <div>No items found.</div>
            </div>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <script src="/assets/js/lite-vimeo.js" type="module"></script>
<script src="/assets/js/lite-youtube.js" type="module"></script>