---
layout: base.html
# This is the blog post page template
pagination:
    data: allPosts.data
    alias: post
    size: 1
permalink: 
    build: /blog/{{ post.slug.current | slug }}/index.html
    preview: /post/preview/:id
eleventyComputed:
    pageTitle: '{{ post.title }}'
    pageDescription: '{{ post.description | default: post.blurb }}'
---
{% assign id = eleventy.serverless.path.id %}

{% if eleventy.serverless.path %}
  {% for p in preview.post %}
    {% if p._id == id %}
      {% assign post = p %}
      {% break %}
    {% endif %}
  {% endfor %}
{% endif %}

<section
  id='page-heading'
  class='section hero hero--page'>
  <div class='container'>
    <div
      class='hero__title'
      data-sal='slide-up'
      data-sal-duration='600'>
      <p class='preheading hero__preheading'>
        {% assign category = post.categories | first %}
        <span>{{ category.title }}</span>
        <span>| {{ post.publishedAt | date: '%B %d, %Y' }}</span>
      </p>
      <h1>{{ post.title }}</h1>
    </div>
  </div>
  <div
    class='offset-image'
    data-sal='slide-up'
    data-sal-duration='600'>
    <div class='offset-image__img-wrapper'>
      {% if post.mainImage.asset %}
        {% capture imgUrl %}
          {% sanityImageUrl post.mainImage %}
        {% endcapture %}
        {% image imgUrl, post.mainImage.altText, 'eager' %}
      {% else %}
        {% capture imgUrl %}
          {% sanityImageUrl site.blogFallbackImage %}
        {% endcapture %}
        {% image imgUrl, '', 'eager' %}
      {% endif %}
    </div>
  </div>
</section>

<section class='section section--post-content'>
  <div class='container container--sm'>
    <div class='w-richtext flow'>
      {% portableText post.body.content %}
    </div>
  </div>
</section>

{% include 'components/blog-posts.liquid' %}

<script
  src='/assets/js/lite-vimeo.js'
  type='module'></script>
<script
  src='/assets/js/lite-youtube.js'
  type='module'></script>
