<div class="w-dyn-list">
        <ul role="list" class="collection-list-3 w-dyn-items">
          {% for case in allCaseStudies limit:3 %}
          {% capture imgUrl %}{% sanityImageUrl case.mainImage %}{% endcapture %}
          <li role="listitem" class="collection-item-2 w-dyn-item">
            <div class="w-layout-grid grid-24">
              <a href="/case-studies/{{ case.slug.current }}/" class="case-study-image-div w-inline-block">
                <div class="div-block-98"><img src="{{ imgUrl }}" loading="lazy" alt="" class="image"></div>
              </a>
              <div class="div-block-32">
                <div>
                  {% assign category = case.categories | first %}
                  <div class="case-study-text">{{ category.title }}</div>
                  <a href="/case-studies/{{ case.slug.current }}/" class="_40-pad-div-block w-inline-block">
                    <h4 class="heading-4 white">{{ case.title }}</h4>
                  </a>
                </div>
                <div class="div-block-67">
                  <a href="/case-studies/{{ case.slug.current }}/" class="green-outline-button w-button">Learn more</a>
                </div>
              </div>
            </div>
          </li>
          {% else %}
          <li class="w-dyn-empty">
            <div>No items found.</div>
            </li>
          {% endfor %}
          </ul>
        </div>